#newsFeed {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 60px 0px 60px;
}

#newsFeed h1 {
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px darkgoldenrod;
}

#newsFeed ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0;
}

#newsFeed li {
    clear: both;
    list-style: none;
    flex: 1 0 30%;
    max-width: 50%;
}

@media only screen and (max-width: 700px) {
    #newsFeed li {
        clear: both;
        list-style: none;
        flex: 1 0 49%;
    }

    .article-title {
        font-size: medium;
    }
}

#newsFeed ul li {
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

#newsFeed a {
    color: darkgoldenrod;
    text-decoration: none;
}

#newsFeed p {
    padding: 8 0 16 0;
    margin-bottom: 1.2em;
}

.article-thumbnail {
    margin: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#newsFeed img {
    object-fit: cover;
    max-width: 100%;
    outline: 3px solid darkgoldenrod;
    border-radius: 5%;
    margin-bottom: 5px;
}

.article-release-information {
    font-size: 80%;
}

.article-release-source::after {
    content: "|";
    margin: 0 5px 0 5px;
}

.article-title {
    font-size: large;
}