.centered-div {
    text-align: center;
}

#newsFeed {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 60px 0px 60px;
}

#newsFeed h1 {
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px darkgoldenrod;
}

#newsFeed ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

#newsFeed li {
    clear: both;
    list-style: none;
    flex: 1 0 100%;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
}

.article-title, .article-description, .centered-div {
    font-size: small;
    text-align: center;
    padding-bottom: 3px;
}

@media only screen and (min-width: 1200px) {
    #newsFeed li {
        flex: 1 0 30%;
        max-width: 30%;
    }
    .article-title, .article-description, .centered-div {
        font-size: initial;
        text-align: center;
    }
}

#newsFeed a {
    color: darkgoldenrod;
    text-decoration: none;
}

#newsFeed p {
    padding: 8 0 16 0;
    margin-bottom: 1.2em;
}

.article-thumbnail {
    margin: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#newsFeed img {
    object-fit: cover;
    max-width: 100%;
    border: 3px solid darkgoldenrod;
    border-radius: 5%;
}

.article-release-information {
    font-size: 80%;
    text-align: center;
}

.article-release-source::after {
    content: "|";
    margin: 0 5px 0 5px;
}
