#header-image-wrapper {
    position: relative;
    height: 500px;
    margin-bottom: 50px;
}

#header-image-wrapper img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 30%;
}

#header-image-wrapper::after {
    box-shadow: inset 0 0 6px 6px #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    #header-image {
        height: 300px;
    }
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 2px darkgoldenrod;
    font-size: 2em;
    color: white;
}