#header-image-wrapper {
    position: relative;
    height: 500px;
    // margin-bottom: 50px;
}

#header-image-wrapper img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 30%;
}

// #header-image-wrapper::after {
//     box-shadow: inset 0 0 6px 6px #000000;
//     content: '';
//     display: block;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     width: 100%;
// }

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1px darkgoldenrod;
    text-align: center;
    font-size: 2em;
    color: white;
}

@media only screen and (max-width: 900px) {
    #header-image {
        height: 300px;
    }

    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-text-stroke: 2px darkgoldenrod;
        text-align: center;
        font-size: 1em;
        color: white;
    }
}

// Keeping this for future reference. 
// One way of creating slanted eges is by display:block, setting a bg color and rotating the element.
// The other way is by using clip-path: polygon() and creating a shape although box-shadow doesn't work using this method.
// slanted-edge{
//     position: absolute;
//     content: " ";
//     display: block;
//     width: 110%;
//     height: 110px;
//     left:-5%;
//     bottom:53%;
//     transform:rotate(2deg);
//     z-index: 10;
//     background-color: black;
//     box-shadow: 0 0 4px 4px #000000;
//     border-style: solid;
//     border-width: 0 100vw 20px 0;
//     border-color: transparent rgba(0,0,0,0.4) transparent transparent;
// }

#slanted-edge {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: -10%;
    filter: drop-shadow(0px 10px 10px rgb(172, 123, 2));
}

#slanted-edge::before {
    position: absolute;
    content: '';
    z-index: 20;
    bottom: -20%;
    background-color: black;
    -webkit-clip-path: polygon(0 50%, 100% 0, 100% 50%, 0 100%);
    clip-path: polygon(0 50%, 100% 0, 100% 50%, 0 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#slanted-edge::after {
    position: absolute;
    content: '';
    z-index: 20;
    bottom: -20%;
    background-color: black;
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}