#navbar-wrapper {
    padding: 15px 0px 15px 0px;
    text-align: left;
    background-color: black;
}

#navbar-wrapper a {
    padding-left: 20px;
    padding-right: 20px;
    color: darkgoldenrod;
    text-decoration: none;
}