* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Orbitron;
    letter-spacing: 2px;
}

main {
    background-color: black;
}

#newsSection {
    width: 100%;
    background-color: white;
    padding-top: 40px;
}